



<div class="jumbotron jumbotron-override">
    <h1 class="display-4">
        The Lottery
        <img src="Balls.svg" width="70" height="70">
    </h1>
    <p><small class="text-muted">A scheme for the distribution of prizes by lot or chance, especially a gaming scheme in which one or
        more tickets bearing particular numbers draw prizes, the other tickets are blanks.
    </p></small>
    <br>
    <p>
        Odds of winning the lottery are woeful and staggering, and yet despite the improbability millions play and players win millions.
    </p>
    <p>
        <i>Don't they know how idiotic buying lotto tickets is? Don't they know they are just throwing their money away? "It is a stupidity tax."</i> ~ some Wall-Street Banker once.
    </p>
    <p>
        Though crudely expressed, that banker has a point - spending money on lotto tickets is rarely mathematically rational. 
        The odds of winning the lotto are so badly weighted against purchasing a ticket it can be thought as throwing money away. 
        The real value of a $1 purchase is often as low as 32 cents, with the rest of the cost going straight into the profits of the ticket sellers. 
        Those huge profit margins are why governments have increasingly turned to lotteries to raise funds, rather than through direct tax increases.
        <br><br>
        <i>"If you stopped four unrelated strangers in the street and asked their birthdays, you’re 50 per cent more likely to select four people with the same birthday than you are to win Powerball."</i>
    </p>

    <hr>

    <!-- ODDs of Winning table -->
    <h6>Odds of Winning each Jackpot</h6>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Lottery</th>
                <th>Odds of Winning the Jackpot</th>
                <th>Record Jackpot</th>
            </tr>
            <tr>
                <td>Oz Lotto</td>
                <td>1 in 45,379,620</td>
                <td>AUD $112 million</td>
            </tr>
            <tr>
                <td>Powerball</td>
                <td>1 in 134,490,400</td>
                <td>AUD $107 million</td>
            </tr>
            <tr>
                <td>Gold Lotto (Mon, Wed, Sat)</td>
                <td>1 in 8,145,060</td>
                <td>AUD $33 million</td>
            </tr>
            </tr>
            <tr>
                <td>Set For Life</td>
                <td>1 in 38,608,020</td>
                <td>AUD $20K per month</td>
            </tr>
            <tr style='border-top: 2px solid darkgrey;'>
                <td><i>Involved in a Drunk-Driving Crash</i></td>
                <td>2 in 3</td>
                <td></td>
            </tr>
            <tr>
                <td><i>Being born with 11 fingers or toes</i></td>
                <td>1 in 500</td>
                <td></td>
            </tr>
            <tr>
                <td><i>Being injured by a toilet</i></td>
                <td>1 in 10,000</td>
                <td></td>
            </tr>
            <tr>
                <td><i>Winning an Oscar</i></td>
                <td>1 in 11,500</td>
                <td></td>
            </tr>
            <tr>
                <td><i>Finding a pearl in an oyster</i></td>
                <td>1 in 12,000</td>
                <td></td>
            </tr>
            <tr>
                <td><i>Struck by lightning</i></td>
                <td>1 in 114,195</td>
                <td></td>
            </tr>
            <tr>
                <td><i>Dying in an airplane crash</i></td>
                <td>1 in 205,522</td>
                <td></td>
            </tr>
            <tr>
                <td><i>Killed by a cow</i></td>
                <td>1 in 848,108</td>
                <td></td>
            </tr>
            <tr>
                <td><i>Attacked by a shark</i></td>
                <td>1 in 3,748,067</td>
                <td></td>
            </tr>

        </tbody>
    </table>

    <hr class="my-4">
    <div class="card">
        <div class="card-header">
          <h6>Your lucky numbers</h6>
        </div>
        <div class="card-body" ng-repeat='(key, value) in Lucky_Numbers'>
          <h5 class="card-title">{{key}}</h5>
          <p class="card-text">
            <table class="table grid">
                <tbody>
                    <tr>
                        <td class='lotto-ball ball-main-large'
                            ng-repeat='n in value.Main_Numbers'
                            ng-repeat='s in value.Supp_Numbers'
                            ng-class='{"gold-lotto-main" : key=="Gold Lotto", "powerball-main" : key=="Powerball",
                                        "oz-lotto-main" : key=="Oz Lotto", "set-for-life-main" : key=="Set for Life"}'
                        >
                        {{n}}
                        </td>
                        <!-- Bonus -->
                        <td class='lotto-ball ball-bonus-large'
                            ng-repeat='s in value.Supp_Numbers'
                            ng-class='{"gold-lotto-bonus" : key=="Gold Lotto", "powerball-bonus" : key=="Powerball",
                                        "oz-lotto-bonus" : key=="Oz Lotto", "set-for-life-bonus" : key=="Set for Life"}'
                        >
                        {{s}}
                        </td>
                    </tr>
                </tbody>
            </table>
          </p>
        </div>
      </div>



</div>