
:root{
    --ballSizeLarge: 50px;
    --ballSizeMedium: 35px;
    --ballSizeSmall: 25px;
    --ballSizeSmallSelected:20px;
    
    --mainColor : #007bff;
    --secondaryColor : #6c757d;
    --bonusColor: #ffc107;

    --largeBallsMargin: 10px;
    --smallBallsMargin: 3px;
}

/* TESTING */
.TABLEROW {
  /* border: 1px solid grey; */
}

/*Override Bootstrap's .table td padding for small ball tables*/
.ball-small-table .lotto-ball, 
.ball-small-table .lotto-game-element,
.ball-small-table .universe-result {
    padding: 0px;
    border: 0px;
}
/*override Bootstrap for selected balls*/
.ball-small-table .ball-small-selected {
  padding: 0px;
  border: 2.5px solid;
  box-sizing: content-box;
  height: var(--ballSizeSmallSelected);
  width: var(--ballSizeSmallSelected);
  /* dragon involve pole lend crawl chest lemon fold illness shop heavy genius */
}

/*Override inputs*/
.gameSelect-input {
  padding : 0px;
}
.gameSelect-table td {
  padding: 0.2px;
  border: 0px;
}

/*Base class for lotto balls*/
.lotto-ball {
    text-align: center;
    vertical-align: middle;
    color: white;
    font-weight: 700;
    border-radius: 50%;
    display: inline-block;
}

.ball-main-large {
    margin: var(--largeBallsMargin);
    height: var(--ballSizeLarge);
    width:  var(--ballSizeLarge);
    background-color: var(--mainColor);
  }
.ball-bonus-large {
    margin: var(--largeBallsMargin);
    height: var(--ballSizeLarge);
    width:  var(--ballSizeLarge);
    background-color: var(--bonusColor);
  }

.ball-main-small {
    margin: var(--smallBallsMargin);
    height: var(--ballSizeSmall);
    width:  var(--ballSizeSmall);
    background-color: var(--mainColor);
  }
.ball-bonus-small {
    margin: var(--smallBallsMargin);
    height: var(--ballSizeSmall);
    width:  var(--ballSizeSmall);
    background-color: var(--bonusColor);
  }

  /*Ball selected for custom input*/
.ball-small-selected {
  text-align: center;
  font-weight: 700;
  border-radius: 50%;
  border-color: var(--secondaryColor);

  vertical-align: middle;
  text-align: center;
  display: inline-block;
  /**/
  color: var(--secondaryColor);
  background-color: white;
}
.ball-small-selected-input {
  padding: 0px;
  border: 0px;
  font-weight: 500;
  border-radius: 50%;
  outline-width: 0px;
  height: var(--ballSizeSmallSelected);
  width: var(--ballSizeSmallSelected);;
  text-align: center;
  /**/
  color: var(--secondaryColor);
  background-color: transparent;
  vertical-align: top;
}

  /*Dimensional Lotto-Ticket Elements*/
.lotto-game-element {
  text-align: center;
  vertical-align: middle;
  margin-top: var(--smallBallsMargin);
  margin-bottom: var(--smallBallsMargin);
}
.lotto-game-tick {
  width:  var(--ballSizeSmall);
  display: inline-block;
}
.lotto-game-count {
  width:  var(--ballSizeSmall);
  font-weight: 500;
  display: inline-block;
}
.lotto-game-title {
  margin-top: 5px;
  font-weight: 800;
  display: inline-block;
  margin-right: 5px;
}

/*Dimensional Game Parameters*/
.gameType-ball {
  text-align: center;
  vertical-align: middle;
  color: white; /*text-color*/
  background-color: var(--secondaryColor);
  font-weight: 700;
  border: 0px;
  border-radius: 50%;
  /*  */
  height: var(--ballSizeMedium);
  width:  var(--ballSizeMedium);
}
.gameType-ball-selected {
  background-color: var(--mainColor);
}

/*Universal results*/
.universe-result {
  /***class defined soley for the purpose of overriding 
  bootstrap's default CSS*/ 
  font-variant-ligatures: normal; /*<-- any ineffectual property will do */
}

/***--------SESSION STATISTICS-----------***/
.headerButton {
  vertical-align: bottom;
}