<!doctype html>
<html lang="en" ng-app='LottoGrottoApp'>

    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel='stylesheet' href="./GrottoStyles.css">

        <!-- BOOTSTRAP -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/46fc9c8bc3.js" 
            crossorigin="anonymous"></script>

        <!-- Global JS -->
        <!-- <script src='../node_modules/angular/angular.js'></script> -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js'></script>

        <!-- My JS Scripts -->
        <script src='./LottoGrottoApp.js'></script>
        

        <title>Lotto-Grotto</title>
    </head>

    <body ng-controller="LottoGrottoController">

        <div class="container">
            <br><br>

            <h2>
                The Lotto Grotto
                <i class='fas fa-funnel-dollar'></i>
            </h2>

            <br><br>

            <!-- NAV BAR -->
            <div class="row">
                <div class="col-3">
                  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" 
                        href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                        <i class="fas fa-home"></i>
                        Home
                    </a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" 
                        href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                        <i class="fas fa-comments-dollar"></i>
                        Multi-Dimensional Lottery
                    </a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" 
                        href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"
                        ng-click='Acknowledge_SessionUpdate()'
                    >
                        <i class="fas fa-calculator"></i>
                        Statistics
                        <i  ng-show='Session_Stats.Updated'
                        class="fas fa-exclamation-circle">

                        </i>

                    </a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" 
                        href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                        <i class="fas fa-surprise"></i>

                    </a>
                  </div>
                </div>

                <!-- CONTENT -->
                <div class="col-9">
                  <div class="tab-content" id="v-pills-tabContent">


                    <!-- Homepage -->
                    <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                        <Homepage ng-include="homepage_template"></Homepage>

                    </div>
                    <!-- Multi-Dimensional Lottery -->
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        
                        <!-- <DimensionalLottery ng-include="dimensional_template"></DimensionalLottery> -->

                        Multi-Dimensional Lottery!
                        <hr>

                        <!-- ROW 1-->
                        <div class='row'>
                            <!-- Left Hand Side::TICKET SETTINGS -->
                            <div class='col-md'>
                                <h6>Game Settings</h6>

                                <form>
                                    <!--Game type selection-->
                                    <div class="form-group row">
                                      <label for="staticEmail" class="col-sm-4 col-form-label">Game Type</label>
                                      <div class="col-sm-8">

                                        <button type="button" class="rounded-circle gameType-ball" 
                                            data-toggle="tooltip" data-placement="top" id='Gold_Lotto_Select'
                                            data-title={{MDL_GameType.Gold_Lotto.Name}} 
                                            ng-class="MDL_GameType.Gold_Lotto.Class" 
                                            ng-click='MDL_SetGameType("GL")'>
                                            {{MDL_GameType.Gold_Lotto.Acronym}}
                                        </button>
                                        <button type="button" class="rounded-circle gameType-ball" data-toggle="tooltip" data-placement="top"
                                            data-title={{MDL_GameType.Powerball.Name}} 
                                            ng-class="MDL_GameType.Powerball.Class" 
                                            ng-click='MDL_SetGameType("PB")'>
                                            {{MDL_GameType.Powerball.Acronym}}
                                        </button>
                                        <button type="button" class="rounded-circle gameType-ball" data-toggle="tooltip" data-placement="top"
                                            data-title={{MDL_GameType.Oz_Lotto.Name}} 
                                            ng-class="MDL_GameType.Oz_Lotto.Class" 
                                            ng-click='MDL_SetGameType("OZ")'>
                                            {{MDL_GameType.Oz_Lotto.Acronym}}
                                        </button>
                                        
                                      </div>
                                    </div>
                                    <!--No of games-->
                                    <div class="form-group row">
                                        <label for="inputGames" class='col-sm-4 col-form-label' >
                                            No. of Games
                                        </label>
                                        <div class="col-sm-3">
                                            <input class="form-control" id="inputGames"
                                                ng-model='MDL_TotalGames'
                                            >
                                        </div>
                                        <div class="col-sm-3 col-form-label">
                                          {{MDL_GamePrice | currency}}
                                        </div>
                                      
                                    </div>
                                    <!-- Generate Games -->
                                    <div class='form-group row'>
                                        <label class='col-sm-4 col-form-label'>Numbers</label>
                                        <div class='col-sm-8'>
                                            <button type="button" class="btn btn-primary"
                                                ng-click='MDL_GenerateNumbers()'
                                            >
                                                Generate Ticket
                                            </button>
                                            <button type="button" class="btn btn-danger" 
                                                ng-click='MDL_ClearGames()'>
                                                <i class="fas fa-times"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <hr>

                                  </form>

                                

                            </div>
                            <!-- Right Hand Side::MULTI_DIMENSIONAL LOTTERY SETTINGS  -->
                            <div class='col-md'>
                                <h6>Universe Settings</h6>

                                <!-- <GameSelect ng-include='gameSelect_template'></GameSelect> -->

                                <form>

                                    <!--No of games-->
                                    <div class="form-group row">
                                        <label for="inputUniverses" class="col-sm-4 col-form-label">
                                            Universes
                                        </label>
                                        <div class="col-sm-4">
                                            <input class="form-control" id="inputUniverses" 
                                            ng-model='MDL_Universes'>
                                        </div>
                                    </div>
                                    <!--No of games-->
                                    <div class="form-group row">
                                        <label for="inputUniverses" class="col-sm-4 col-form-label"
                                        >
                                            Years per. <i class="fas fa-globe"></i>
                                        </label>
                                        <div class="col-sm-4">
                                            <input class="form-control" max="5000" type="number" 
                                            ng-model='MDL_UniYears'>
                                        </div>

                                        <!-- <div class="col-sm-8">
                                            <i class="fas fa-radiation"></i>
                                            <i class="fas fa-radiation"></i>
                                            <i class="fas fa-radiation"></i>
                                        </div> -->
                                    </div>
                                    <!-- Go! -->
                                    <div class='form-group row'>
                                        <label class='col-sm-4 col-form-label'>Go!</label>
                                        <div class='col-sm-8'>
                                            <button type="button" class="btn btn-primary"
                                                ng-disable='MDL_Playing=="Loading"'
                                                ng-click='Setup_MDL()'
                                            >
                                                <!-- <i class="fas fa-power-off"></i> -->
                                                PL
                                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"
                                                    ng-if='MDL_Playing=="Loading"'
                                                ></span>
                                                <i class="fas fa-broadcast-tower"
                                                ng-if='MDL_Playing!="Loading"'
                                                ></i>
                                                AY
                                                <!-- <i class="fas fa-globe"></i> -->
                                            </button>
                                            <button type="button" class="btn btn-danger" 
                                                ng-click='MDL_ClearUniversalLottery()'
                                                >
                                                <i class="fas fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                        
                                <hr>

                            </div>
                        
                        </div>
                        <!--End Row 1-->

                        <!-- ROW 2::GENERATED LOTTO TICKET -->
                        <div class='row'>
                            <!-- Left Hand Side -->
                            <div class='col-md'>
                        
                                <div ng-if='MDL_Games.length'>
                                    <h6>Your numbers:</h6>
                                    <table class="grid ball-small-table">
                                        <tbody>
                                            <tr ng-repeat="game in MDL_Games">
                                                <!-- Game -->
                                                <td class='lotto-game-element lotto-game-title'>
                                                    <!-- Title Normal -->
                                                    <h6 ng-show='game.Main_Alert=="" && game.Supp_Alert==""'>
                                                        <span class="badge badge-secondary">
                                                        {{("000"+$index).slice(-3)}}
                                                        <i class="fas fa-caret-right"></i>
                                                    </span></h6>

                                                    <!-- Title Alert-->
                                                    <h6 ng-show='game.Main_Alert!="" || game.Supp_Alert!=""'>
                                                        <span class="badge badge-danger">
                                                        {{("000"+$index).slice(-3)}}
                                                        <i class="fas fa-exclamation"></i>
                                                    </span></h6>
                                                </td>

                                                <!-- Main -->
                                                <td ng-repeat="n in game.Main_Numbers track by $index"
                                                    ng-click='Edit_Ball($parent.$index, $index, "main")'
                                                >
                                                    <!--Not selected-->
                                                    <div class='lotto-ball ball-main-small' 
                                                        ng-show="!MDL_Games[$parent.$index].Main_Selected[$index]"
                                                    >
                                                        {{n}}
                                                    </div>

                                                    <!--Selected-->
                                                    <div class='lotto-ball ball-main-small ball-small-selected' 
                                                        ng-show="MDL_Games[$parent.$index].Main_Selected[$index]"
                                                    >
                                                        <input class='ball-small-selected-input' maxlength="2"
                                                            id='MainBall_{{$parent.$index}}_{{$index}}'
                                                        >
                                                    </div>
                                                
                                                </td>

                                                <!-- Bonus/ Supplementary -->
                                                <td ng-repeat="s in game.Supp_Numbers track by $index"
                                                ng-click='Edit_Ball($parent.$index, $index, "supp")'
                                            >
                                                <!--Not selected-->
                                                <div class='lotto-ball ball-bonus-small' 
                                                    ng-show="!MDL_Games[$parent.$index].Supp_Selected[$index]"
                                                >
                                                    {{s}}
                                                </div>

                                                <!--Selected-->
                                                <div class='lotto-ball ball-bonus-small ball-small-selected' 
                                                    ng-show="MDL_Games[$parent.$index].Supp_Selected[$index]"
                                                >
                                                    <input class='ball-small-selected-input' maxlength="2"
                                                        id='SuppBall_{{$parent.$index}}_{{$index}}'
                                                    >
                                                </div>
                                            
                                            </td>

                                                <!-- Space -->
                                                <td class='lotto-game-element'></td>
                                                <!-- Winner? -->
                                                <td class='lotto-game-element lotto-game-tick'>
                                                    <i ng-if='game.Won' class="fas fa-check"></i>
                                                </td>
                                                <td ng-if='game.Won' class='lotto-game-element lotto-game-count'>
                                                    {{game.Division_1_Wins}}
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                
                                </div>

                            </div>

                            <!-- Right Hand Side::TABLE OF MULTI-DIMENSIONAL LOTTERY GAMES -->
                            <div class='col-md'>
                                
                                <div ng-show='MDL_Playing=="Loaded"'>
                                <h6>Your Statistics:</h6>
                                    <!-- Session Statistics -->


                                <table class="table grid ball-small-table">
                                    <tbody>
                                        <tr class="universe-result" ng-repeat='universe in MDL_Stats'>
                                            <!-- Dimensional Games -->
                                            <td class="universe-result">
                                                <button class="btn btn-light btn-block" type="button" 
                                                    data-toggle="collapse" data-target="#MDL_statsCard{{$index}}"
                                                    aria-expanded="false" aria-controls="MDL_statsCard">
                                                    <div class='float-left'>
                                                        
                                                        <i ng-if='!universe.StatsActive' class="fas fa-chevron-circle-right"></i>
                                                        <i ng-if='universe.StatsActive' class="fas fa-caret-square-down"></i>
                                                        <i class="fas fa-globe"></i>
                                                        <b>#{{$index}}</b> | {{universe.Msg}}
                                                    </div>
                                                </button>
                                                <!-- Stats card -->
                                                <div class="collapse" id="MDL_statsCard{{$index}}">
                                                    
                                                    <div class="card card-body">
                                                        <ul class="list-group list-group-flush">
                                                            <li ng-if='universe.Won' class="list-group-item">
                                                                <b>Winning No: </b> {{universe.WinningNumbers}} | 
                                                                <b>{{universe.GameIndex}}</b>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <b>Years Played: </b>{{universe.Years}}
                                                            </li>
                                                            <li class="list-group-item">
                                                                <b>Weeks Played: </b>{{universe.WeeksRaw | number}}
                                                            </li>
                                                            <li class="list-group-item">
                                                                <b>Money Spent: </b>{{universe.Spent | currency}}
                                                            </li>
                                                            <li class="list-group-item">
                                                                <b>Money Won: </b>{{universe.Dividend | currency}}
                                                            </li>
                                                          </ul>
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div> <!-- ng-if wrap end-->
                            
                            </div>
                        </div> <!--End Row 2-->

                    </div>


                    <!-- Statistics -->
                    <div class="tab-pane fade" id="v-pills-messages" 
                        role="tabpanel" aria-labelledby="v-pills-messages-tab"
                    >

                        <SessionStatistics ng-include='statistics_template'></SessionStatistics>

                    </div>

                    <!-- Check my results -->
                    <div class="tab-pane fade" id="v-pills-settings" 
                        role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    
                        <myResults ng-include='myResults_template'></myResults>

                    </div>


                  </div>
                </div>
              </div>




        </div>

    </body>
</html>